.heading{
    color: #fff;
    font-weight: 400;
    font-size:60px;
    display: block;
    text-align: center;
    text-transform:capitalize;
    padding: 30px;
    font-family: 'Architects Daughter', cursive;
}